    * {
    font-family: "DejaVu Sans";
    margin: 0;
    padding: 0;
    }

    body {
    background-image: url("noise.png");
    background-repeat: repeat;
    height: 100%;
    }

    #secret {
    background-image: url("noise_dark.png");
    background-repeat: repeat;
    border: 2px solid grey;
    border-bottom-left-radius: 20px;
    float: right;
    font-size: 130%;
    opacity: .8;
    padding: 20px;
    text-align: center;
    }

    #secret a {
    color: white;
    text-decoration: none;
    }

    #secret:hover {
    opacity: 1;
    }

    #update {
    background-image: url("noise_dark.png");
    background-repeat: repeat;
    border: 2px solid grey;
    border-bottom-right-radius: 20px;
    font-size: 130%;
    opacity: .8;
    padding: 20px;
    text-align: center;
    width: 40px;
    }

    #update a {
    color: white;
    text-decoration: none;
    }

    #update:hover {
    opacity: 1;
    }

    #header {
    display: block;
    margin-top: 6%;
    text-align: center;
    }

    #logo {
    margin: 50px auto;
    text-align: center;
    }

    #logo a {
    opacity: .8;
    }

    #logo a:hover {
    opacity: 1;
    }

    #password {
    font-size: 300%;
    }

    #password a {
    color: transparent;
    }
